@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* * {
  outline: 1px solid red;
} */

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  color: #333333;
}

.portrait {
  width: 250px;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 650px;
}

.nav-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
}

ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  text-transform: uppercase;
  margin-left: 20px;
}

a {
  text-decoration: none;
}

.footer {
  color: #888888;
  border-top: 1px solid #eeeeee;
  margin-top: 16px;
  padding: 16px 0;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100vh;
}